body {
  background: rgb(199, 101, 116);
 }

.container { 
  
   background: white;
  border: solid 1px #c7c0c0;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
font-family: arial, sans-serif;
  width: 100%;
  max-width: 700px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

 .link {
  color: rgb(245, 106, 121);
}